*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
header{
    display: inline;
}
.jumbotron{
    padding: 170px 0px;
    text-align: right;
    position: relative;
    overflow: hidden;
    background-image: url("img/air tumpah.png");
    background-size: cover;
    background-position-y: -50px;
    background-attachment: fixed;
    background-repeat: no-repeat ;
}
.main-title{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 45px;
    margin-right: 50px;
}
.main-capt{
    display: inline-block;
    margin: 20px 50px 0px 0px;
    max-width: 650px;
}
.jumbotron img{
    width: 39%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

nav{
    height: 58px;
    position: sticky !important;
    top: 0px;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
nav img{
    margin: 10px 0px 0px 40px;
    height: 40px;
}  
.menubutton{
    float: right;
    margin-top: 18px;
    margin-right: 40px;
    display: none;
}
.garis{
    width: 30px;
    height: 4px;
    background-color: #00b3ca;
    margin-bottom: 5px;
    border-radius: 30px;
}
.line1,.line3{
    transition: 0.3s;
}
.menu{
    display: flex;
    top: 0px;
    right: 0px;
    position: fixed;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu a{
    display: inline-block;
    padding: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
    .menu a:hover{
        background-color: #00cedd;
        color: #ffffff;
    }
   


article{
    padding: 80px;
    padding-bottom: 30px;
}
.teks{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
}
.teks,h2,h3,h4,.link,.webpajak{
    font-family: 'Open Sans', sans-serif;
}
.card{
    background-color: #ffffff;
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3);
}
.title{
    font-size: 32px;
    padding: 20px;
    margin-bottom: 30px;
}
h3{
    font-size: 25px;
    margin-bottom: 30px;
}
h4{
    font-size: 20px;
    margin-bottom: 25px;
}
.link{
    display: inline-block;
    padding: 13px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00b4b4;
    color: #ffffff;
    border-radius: 5px;
}
    .link:hover{
        background-color: #3be0e0;
        color: #ffffff;  
    }

.floatcontainer{
    overflow: auto;
}

.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.floatteks{
    width: 68%;
}

.floatimg{
    width: 300px;
    display: block;
}
.clear{
    clear: both;
}
.textright{
    text-align: right;
}


#pengertian .title,.lapor .title{
    border-left: solid 5px #00e0e0;
}
.kenapa-img{
    width: 50%;
    transform: scale(0.9);
}
.kenapa-teks{
    padding: 120px 0px 100px 80px;
    width: 50%;
}
.npwp{
    margin-top: 0px;
    margin-bottom: 50px;
}


#contoh{
    background: linear-gradient(rgb(0, 204, 255),#00ffb3);
    background-attachment: fixed;
    padding: 30px;
    padding-bottom: 80px;
}
#contoh .title{
    text-align: center;
    color: white;
}
.slider{
    position: relative;
    width: 100%;
}
.frame{
    width: 90%;
    margin: 0px auto;
}    
#contoh ul{
    list-style-position: inside;
}
button{
    position: absolute;
    top: 45%;
    width: 5%;
    border-radius: 15px;
    background-color: rgb(71, 71, 71);
    border: 0px;
    opacity: 0.5;
    color: #ffffff9a;
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}
button:hover{
    opacity: 0.3;
}
#prevbutton{
    left: 0px;
}
#nextbutton{
    right: 0px;
}

#bayar .title{
    text-align: right;
    border-right: solid 5px #00e0e0;
}


.lapor{
    background-image: url("img/bulet-bulet-biru.png");
    background-position: top;
    background-size: contain;
    background-repeat: space;
}



.lapor .card{
    margin-top: 20px;
}
.tahunan{
    width: 50%;
}
.masa{
    width: 50%;
    padding-left: 20px;
}
.jenis{
    position: relative;
    border-bottom: 2px solid #00e0e0;
}
.jenis h4{
    margin-top: 30px;
    display: inline-block;
}
.jenis .link{
    position: absolute;
    margin: 0px;
    top: 20px;
    right: 10px;
}
.jenis:last-child{
    border-bottom: 0px;
}


.caralapor{
    margin-top: 80px;
}
.caralaporjudul{
    text-align: center;
    margin-bottom: 30px;
}



.flexcontainer{
    display: flex;
}
.column{
    flex-direction: column;
}
.flexrow{
    display: flex;
}
.kpp{
    margin-right: 10px;
}
.kurir{
    margin-left: 10px;
}
.fleximg{
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}


#deadline{
    margin-top: 40px;
    background-color: #004a53;
    color: #ffffff;
}
#deadline ul{
    list-style-position: inside;
}


#about{
    padding-top: 280px;
    background-image: url(img/Background1023456.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}
.identitas{
    padding: 40px;
    width: 67%;
}
.identitas .teks{
    margin-bottom: 10px;
}

figure{
    width: 20%;
}
.bio{
    width: 80%;
    margin-bottom: 20px;
}


.bulet{
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
}
.mingkem, .nyengir{
    display: block;
    width: 110px;
    position: absolute;
    top: -10px;
}
.nyengir{
    opacity: 0;
}
.nyengir:hover{
    opacity: 1;
}
.flexcontainerr{
    display: flex;
}
.blocklink{
    display: block;
}
.blocklink:first-child{
    margin-left: 0px;
}


.info{
    padding: 40px;
    background: linear-gradient(135deg, #00b1c9 5%,#00cedd,#00ffdd);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #ffffff;
    width: 33%;
}
.webpajakitem{
    color: black;
    overflow: auto;
    padding: 5px;
}
.webpajakitem:last-child{
    border-bottom: 0px;
}
.webpajakitem:hover{
    background-color: #004a53;
    color: #ffffff;
    transform: scale(1.05);
}

figcaption{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.medsos{
    height: 35px;
    width: 35px;
    margin-left: 10px;
}
.webpajak{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
}
.webpajakitem img{
    width: 50px;
}
#instagram{
    background-image: url("img/instagram.png");
}
#facebook{
    background-image: url("img/facebook.png");
}
#twitter{
    background-image: url("img/twitter.png");
}
#github{
    background-image: url("img/github.png");
}
.medsos:hover{
    filter: invert(1);
    -webkit-filter: invert(1);
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #006977;
    color: #ffffff;
}
footer .teks{
    margin-bottom: 0px;
}